<form class="new_restaurant" action="/">

  <label for="name">Restaurant Name</label>
  <input type="text" name="name" placeholder="Felix's Firey Fish Fingers" />

  <label for="blurb">Restaurant Slogan</label>
  <input type="text" name="blurb" placeholder="An amazingly arduous amorphous adventure">

  <label for="description">Restaurant Description</label>
  <input type="text" name="description" placeholder="It's one of the best, the food is so fiery, the food is so great." />

  <input type="submit" value="Add Restaurant">

</form>
