<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="public/stylesheets/stylesheet.css">
  </head>
  <body>
    <article id="nav-bar">
      <p> hello </p>
      <div id="home-image" class="nav-button-container">

      </div>
      <div id="welcome-user" class="nav-button-container">
        <% if user_signed_in? %>
          <p>Welcome <%= current_user.email %></p>
        <% end %>
      </div>
      <div id="user-buttons" class="nav-button-container">
        <% if user_signed_in? %>
          <%= button_to "Sign out", destroy_user_session_path, id: "sign_out", class: "user_auth", method: :delete %>
        <% else %>
          <%= button_to "Sign up", new_user_registration_path, id: "sign_up", class: "user_auth", method: :get %>
          <%= button_to "Sign in", new_user_session_path, id: "sign_in", class: "user_auth", method: :get %>
        <% end %>
      </div>

    </article>

  </body>
</html>
